{{#each page}}
  <article class="lo-full padding-off" data-page-id="{{id}}">
    <header>
      <h1>{{capitalizeFirstLetter pagetitle}}</h1>
    </header>
    {{{contents}}}
    {{#if specialfunction}}
      {{{specialfunction}}}
    {{/if}}
    <footer>
      <p>
      {{#if time_modified}}
        <small>Sist oppdatert av <a href="mailto:{{modified_by_email}}">{{modified_by}}</a> den {{time_modified}}</small>
      {{else}}
        <small>Skrevet av <a href="mailto:{{created_by_email}}">{{created_by}}</a> den {{time_created}}</small>
      {{/if}}
      </p>
    </footer>
  </article>
{{/each}}
